<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myblog.mapper.CategoryMapper">

    <resultMap id="CategoryVoResultMap" type="com.example.myblog.entity.vo.CategoryVo">
        <id column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
        <result column="article_count" property="articleCount"/>
    </resultMap>

    <select id="selectCategoryListWithCount" resultMap="CategoryVoResultMap">
        SELECT
            c.id,
            c.category_name,
            COUNT(ac.article_id) AS article_count
        FROM
            categories c
                LEFT JOIN
            article_category ac ON c.id = ac.category_id
        GROUP BY
            c.id ,c.category_name
    </select>
    <select id="selectCategoryListByUserId" resultType="com.example.myblog.entity.Category">
    </select>
</mapper>